In [1]:
# Import yfinance package
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Stations, Daily
from wwo_hist import retrieve_hist_data
from datetime import date

In [2]:

# Read and print the stock tickers that make up S&P500
tickers = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
print(tickers.head())

  Symbol             Security SEC filings             GICS Sector  \
0    MMM                   3M     reports             Industrials
1    ABT  Abbott Laboratories     reports             Health Care
2   ABBV               AbbVie     reports             Health Care
3   ABMD              Abiomed     reports             Health Care
4    ACN            Accenture     reports  Information Technology

                GICS Sub-Industry    Headquarters Location Date first added  \
0        Industrial Conglomerates    Saint Paul, Minnesota       1976-08-09
1           Health Care Equipment  North Chicago, Illinois       1964-03-31
2                 Pharmaceuticals  North Chicago, Illinois       2012-12-31
3           Health Care Equipment   Danvers, Massachusetts       2018-05-31
4  IT Consulting & Other Services          Dublin, Ireland       2011-07-06

       CIK      Founded
0    66740         1902
1     1800         1888
2  1551152  2013 (1888)
3   815094         1981
4  1467373         1989

In [3]:
tickers.pivot_table(index=['GICS Sector'],aggfunc={'Symbol':len})

                        Symbol
GICS Sector
Communication Services      26
Consumer Discretionary      63
Consumer Staples            32
Energy                      22
Financials                  65
Health Care                 64
Industrials                 74
Information Technology      74
Materials                   28
Real Estate                 29
Utilities                   28

In [4]:
tickers[tickers['GICS Sector']=='Energy']

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
43,APA,APA Corporation,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,6769,1954
58,BKR,Baker Hughes,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",2017-07-07,1701605,2017
80,COG,Cabot Oil & Gas,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",2008-06-23,858470,1989
102,CVX,Chevron Corporation,reports,Energy,Integrated Oil & Gas,"San Ramon, California",1957-03-04,93410,1879
122,COP,ConocoPhillips,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1957-03-04,1163165,2002
141,DVN,Devon Energy,reports,Energy,Oil & Gas Exploration & Production,"Oklahoma City, Oklahoma",2000-08-30,1090012,1971
143,FANG,Diamondback Energy,reports,Energy,Oil & Gas Exploration & Production,"Midland, Texas",2018-12-03,1539838,2007
170,EOG,EOG Resources,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",2000-11-02,821189,1999
184,XOM,ExxonMobil,reports,Energy,Integrated Oil & Gas,"Irving, Texas",1957-03-04,34088,1999
219,HAL,Halliburton,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",1957-03-04,45012,1919
227,HES,Hess Corporation,reports,Energy,Integrated Oil & Gas,"New York City, New York",1984-05-31,4447,1919
273,KMI,Kinder Morgan,reports,Energy,Oil & Gas Storage & Transportation,"Houston, Texas",2012-05-25,1506307,1997
296,MRO,Marathon Oil,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1991-05-01,101778,1887
297,MPC,Marathon Petroleum,reports,Energy,Oil & Gas Refining & Marketing,"Findlay, Ohio",2011-07-01,1510295,2009 (1887)
344,NOV,Nov,reports,Energy,Oil & Gas Equipment & Services,"Houston, Texas",2005-03-14,1021860,1841
351,OXY,Occidental Petroleum,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1982-12-31,797468,1920
354,OKE,Oneok,reports,Energy,Oil & Gas Storage & Transportation,"Tulsa, Oklahoma",2010-03-15,1039684,1906
372,PSX,Phillips 66,reports,Energy,Oil & Gas Refining & Marketing,"Houston, Texas",2012-05-01,1534701,2012 (1917)
374,PXD,Pioneer Natural Resources,reports,Energy,Oil & Gas Exploration & Production,"Irving, Texas",2008-09-24,1038357,1997
411,SLB,Schlumberger,reports,Energy,Oil & Gas Equipment & Services,"Curaçao, Kingdom of the Netherlands",1965-03-31,87347,1926
466,VLO,Valero Energy,reports,Energy,Oil & Gas Refining & Marketing,"San Antonio, Texas",NaN,1035002,1980
494,WMB,Williams Companies,reports,Energy,Oil & Gas Storage & Transportation,"Tulsa, Oklahoma",1975-03-31,107263,1908

In [5]:

# Get the data for this tickers from yahoo finance
data = yf.download(tickers.Symbol.to_list(),'1999-12-31','2021-8-8', auto_adjust=True)['Close']
print(data.head())

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
                    A  AAL  AAP      AAPL  ABBV       ABC     ABMD       ABT  \
Date
1999-12-30  48.875591  NaN  NaN  0.770170   NaN  2.984409  18.6250  9.910414
1999-12-31  47.680691  NaN  NaN  0.789364   NaN  2.984409  18.3750  9.809116
2000-01-03  44.404324  NaN  NaN  0.859423   NaN  3.058100  18.2500  9.454567
2000-01-04  41.012321  NaN  NaN  0.786965   NaN  2.849313  17.8125  9.184438
2000-01-05  38.468327  NaN  NaN  0.798482   NaN  3.070381  18.0000  9.167553

            ACN       ADBE  ...       XEL       XLNX        XOM      XRAY  \
Date                        ...
1999-12-30  NaN  16.383274  ...  7.830836  31.351233  20.487829  7.079082
1999-12-31  NaN  16.693562  ...  7.801033  32.169292  20.519667  6.932364
2000-01-03  NaN  16.274673  ...  7.601006  33.075779  19.946577  6.895685
2000-01-04  NaN  14.909401  ...  7.776029  32.324043  19.564528  6.895685
2000-01-05  NaN  15.204173  ...  8.076075  31.616535  20.631098  7.014891

            XYL       YUM  ZBH       ZBRA       ZION  ZTS
Date
1999-12-30  NaN  5.070414  NaN  24.666668  41.437859  NaN
1999-12-31  NaN  5.095148  NaN  26.000000  41.835442  NaN
2000-01-03  NaN  4.922012  NaN  25.027779  39.229019  NaN
2000-01-04  NaN  4.823076  NaN  24.666668  37.329407  NaN
2000-01-05  NaN  4.847810  NaN  25.138889  37.285248  NaN

[5 rows x 505 columns]

In [ ]:

# Get the data for this tickers from yahoo finance
data_vol = yf.download(tickers.Symbol.to_list(),'1999-12-31','2021-8-8', auto_adjust=True)['Volume']
print(data_vol.head())

In [ ]:
data_vol_reset=data_vol.reset_index()
# stock_price
stock_volume=pd.melt(data_vol_reset, id_vars=['Date'], var_name='ticker', value_name='value')
stock_volume.head()

In [ ]:
stock_price=data.reset_index()
# stock_price
transpose_stock_price=pd.melt(stock_price, id_vars=['Date'], var_name='ticker', value_name='value')

In [ ]:
transpose_stock_price['DoW']=transpose_stock_price['Date'].dt.day_name()
transpose_stock_price['Day']=transpose_stock_price['Date'].dt.day
transpose_stock_price.head()

In [ ]:
# stock_price[(stock_price['DoW']=='Friday')& (stock_price['Day']==13)]
transpose_stock_price['Friday_13']=False
transpose_stock_price.loc[(transpose_stock_price['DoW']=='Friday')& (transpose_stock_price['Day']==13),'Friday_13']=True
transpose_stock_price['Friday']=False
transpose_stock_price.loc[(transpose_stock_price['DoW']=='Friday'),'Friday']=True

In [ ]:
stock_price_by_type=transpose_stock_price.merge(tickers[['Symbol','GICS Sector']],
                                                left_on=['ticker'],right_on=['Symbol'])
stock_price_by_type.sample(20)

In [ ]:
stock_price_by_type.pivot_table(index=['Date'],columns=['GICS Sector'],
                                aggfunc={'value':np.mean}).reset_index().to_csv('stock_price.csv')

In [ ]:
# Get weather stations ordered by distance to Vancouver, BC
stations = Stations(lat = 49.2497, lon = -123.1193, daily = datetime(2018, 1, 1))
# Fetch closest station (limit = 1)
station = stations.fetch(1)
# Get daily data for 2018 at the selected weather station
data = Daily(station, start = datetime(2018, 1, 1), end = datetime(2018, 12, 31))
# Fetch Pandas DataFrame
data = data.fetch()

In [ ]:
frequency = 24
start_date = '01-JAN-2001'
end_date = '11-MAR-2019'
api_key = 'YOUR_API_KEY'
location_list = ['singapore','chicago']
hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = False,
                                export_csv = True,
                                store_df = True)

In [ ]:

# Set the start and end date
start_date = '2021-07-01'
end_date = '2021-07-12'

# Set the ticker
ticker = 'AMZN'

# Get the data
data = yf.download(ticker, start_date, end_date)
data = data.reset_index()
# Print 5 rows
data.tail()

In [ ]:
yf.Ticker('PFE').history(start="2010-01-01",  end='2020-07-21')

In [ ]:
datelist = pd.date_range(date(2000,1,1), periods=40000).tolist()
date_df=pd.DataFrame()

In [ ]:
date_df['Date']=datelist
date_df['Year']=date_df['Date'].dt.year
date_df['Week']=date_df['Date'].dt.week
date_df['ISO-Week'] = date_df['Date'] - pd.to_timedelta(date_df['Date'].dt.weekday, unit='D')
date_df['FridayOfWeek'] = date_df['ISO-Week'] + pd.to_timedelta(4, unit='D') 
date_df['WeekofFriday13']=0
date_df.loc[date_df['FridayOfWeek'].dt.day==13,'WeekofFriday13']=1

In [ ]:
date_df.pivot_table(index=['Year'],columns=['Week'],aggfunc={'WeekofFriday13':max}).reset_index().to_csv("years_and_fridays13.csv")

In [ ]:
date_df[(date_df['WeekofFriday13']==1)&(date_df['FridayOfWeek'].dt.day==13)&(date_df['Year']==2000)]